* {
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
div.page{
    max-width: 1440px;
    margin: 0 auto
}
header{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #b32d36;
    padding: 5px 0px;
}
.container, .container-promo, .container-about{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.container-promo{
    max-width: 1083px;
}
.container-about{
    max-width: 1083px;
    margin: 2% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
a.logo {
    display: flex;
}
.search{
    display: flex;
    flex-wrap: wrap;
    width: 61%;
    
}
form{
    display: flex;
}
input.input-search{
    width: 697px;
    height: 40px;
    border: none;
    background: linear-gradient(180deg, #411a1a 0%, rgba(255, 255, 255, 0.08) 99.97%, #ffbbc0 99.98%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px 0px 0px 9px;
}
input.input-search:hover, input.input-search:focus{
    background: rgba(255, 255, 255, 0.699999988079071);
    background-color: white;
    border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


::placeholder {
    height: 37px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    text-align: left;
    padding-left: 25px;
    color: rgba(255, 255, 255, 0.699999988079071);
  }
 
.button-search{
    width: 58px;
    height: 40px;
    border: none;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 9px 9px 0px;
    background-image: url(../img/glass.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.button-search:hover{
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
a.login{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5px 13px;
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 40px;
    text-decoration: none;
    color: black;
}
a.login:hover, div.my-review input:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
a.login img {
    margin-right: 4px;
}
/* main */
main{
    background-image: url(../img/background.jpg);
    background-size: cover;
}
.container-promo{
    padding-top: 41px;
    padding-bottom: 52px;
}
.promo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
div.about_film{
    background: #FFFFFF;
    box-shadow: 19px 13px 16px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    width: 64%;
    
}
section.promo img{
    filter: drop-shadow(19px 13px 16px rgba(0, 0, 0, 0.25));
    width: 28%;
    object-fit: cover;
}
ul{
    list-style-type: none;
    font-size: 20px;
    line-height: 143%;
    margin: 1% 5%;
    padding: 1% 5%;
    padding-inline-start: 0;
}
li{
    padding-bottom: 1%;
}
p.date{
    padding-top: 6%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.reelh{
    background-image: url(../img/reel.png);
    background-repeat-y: no-repeat;
    height: 70px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
h2{

    font-size: 27px;
    padding: 10px 0px;
    line-height: 177%;
    letter-spacing: -0.01em;
    text-align: center;
    margin: 0; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p.about{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 159.5%;
/* or 30px */

display: flex;
align-items: center;
text-align: justify;
letter-spacing: -0.01em;
padding: 1% 3%;
color: #000000;
}

h3{
    font-size: 25px;
    margin: 2% 0%;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
}

div.review{
    max-width: 1083px;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 2%;
    padding-bottom: 1%;
}

div.review ul{
    display: flex;
    justify-content: space-between;
    margin: 0;
}
li.author{
    font-size: 22px;
    line-height: 130%;
    letter-spacing: -0.01em;
}
li.date-review{
    font-size: 20px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: -0.01em;
    padding: 0;
}
p.review{
    font-size: 18px;
    line-height: 130%;
    align-items: center;
    text-align: justify;
}

div.my-review{
    max-width: 862px;
    margin: 0% auto;
    padding: 4% 0%;
}

div.my-review form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div.my-review textarea{
    margin: 0px;
    width: 712px;
    width: 840px;
    height: 377px;
    background: #F4F4F4;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    resize: none;
    border: none;
}
div.my-review ::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.56);
    padding: 25px;
}
div.my-review input{
    width: 242px;
    height: 47px;
    background: #B32D36;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    border: none;
    margin-top: 3%;
}
div.my-review input:hover{
    cursor: pointer;
}

.message{
    padding: 0% 1%;
    text-align: center;
    font-weight: bold;
    max-width: 798px;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* кнопка наверх */
.back_to_top {
    position: fixed;
    bottom: 80px;
    right: 29px;
    z-index: 9999;
    width: 47px;
    height: 44px;
    text-align: center;
    line-height: 34px;
    background: rgb(0 0 0 / 36%);
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: none;
    transition: background-color 0.3s ease 0s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    border-radius: 9px;
    font-size: 37px;
  }
  
  .back_to_top:hover {
    background: #e9ebec;
    color: rgb(0 0 0 / 36%);
  }
  
  .back_to_top-show {
    display: block;
  }
/* кнопка наверх */




/* ФУТЕР */
footer{
    background: #b32d36;
}
div.reel{
    background-image: url(../img/lenta.png);
    background-repeat-y: no-repeat;
    height: 25px;
}
footer img.popfoot{
    width: 222px;
}
footer p{
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
p.rights{
    font-size: 16px;
}
div.social{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.social-links{
    display: flex;
    justify-content: space-between;
}
a.social-link{
    margin: 0px 8px;
}

a.social-link:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media (max-width: 1366px){

    .container{
        max-width: 1150px;
        margin: 0 auto
    }
    a.login {
        padding: 3px 10px;
    }
    input.input-search {
        width: 643px;
    }
    .container-promo {
        max-width: 1150px;
        margin: 0 auto
    }
    .promo-title{
        font-size: 33px;
        line-height: 43px;
    }
    .promo-text {
        max-width: 519px;
        font-size: 20px;
    }
    p {
        font-size: 21px;
    }
    .social-link img{
        width: 44px;
        height: 44px;
    }
    
}


@media (max-width: 1108px){
    .container{
        max-width: 1043px;
        margin: 0 auto
    }    
    .container-promo {
        max-width: 1043px;
        margin: 0 auto
    }
    .search{
        display: flex;
        width: 100%;
        
    }
    p {
        font-size: 21px;
    }
    .social-link img{
        width: 44px;
        height: 44px;
    }   

}

@media (max-width: 1071px){
    .container{
        max-width: 700px;
        margin: 0 auto
    }

    img.logo{
        width: 143px;
    }
    .container-promo {
        max-width: 700px;
        margin: 0 auto
    }
    .promo {
        padding: 21px 46px;
    }
    ::placeholder {
        height: 30px;
        font-size: 15px;
      }
      a.login{
        font-size: 15px;
      }
}

