* {
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
div.page{
    max-width: 1440px;
    margin: 0 auto
}
header{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #b32d36;
    padding: 5px 0px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.container-promo{
    margin: 4% auto;
    padding: 6% 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 840px;
    background: #F4F4F4;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
a.logo {
    display: flex;
}
.search{
    display: flex;
    width: 75%;
    font-size: 19px;
    flex-wrap: wrap;

    
}
.search form{
    display: flex;
    width: 100%;
}
input.input-search{
    width: 697px;
    height: 40px;
    border: none;
    background: linear-gradient(180deg, #411a1a 0%, rgba(255, 255, 255, 0.08) 99.97%, #ffbbc0 99.98%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px 0px 0px 9px;
}
input.input-search:hover, input.input-search:focus{
    background: rgba(255, 255, 255, 0.699999988079071);
    background-color: white;
    border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.search ::placeholder {
    height: 37px;
    text-align: left;
    padding-left: 25px;
    color: rgba(255, 255, 255, 0.699999988079071);
  }
 
.button-search{
    width: 58px;
    height: 40px;
    border: none;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 9px 9px 0px;
    background-image: url(../img/glass.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.button-search:hover{
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}



/* main */
main{
    background-image: url(../img/background.jpg);
    background-size: cover;
    padding: 3% 0%;
}
.reelh{
    background-image: url(../img/reel.png);
    background-repeat-y: no-repeat;
    height: 70px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
h2{

    font-size: 27px;
    padding: 10px 0px;
    line-height: 177%;
    letter-spacing: -0.01em;
    text-align: center;
    margin: 0; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-promo form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container-promo form ::placeholder {
    height: 37px;
    text-align: left;
    padding-left: 15px;
  }
.input-auth{
    width: 66%;
    height: 40px;
    background: #FCFBFB;
    border: 2px solid #B32D36;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.56);
    margin-bottom: 7%;
}
.button-auth{
    width: 42%;
    height: 47px;
    background: #B32D36;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    border: none;
    margin-bottom: 8%
}
.button-auth:hover{
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

a.to-reg{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    text-decoration-line: underline;
    color: #000000;
}
a.to-reg:hover{
    cursor: pointer;
    color: red;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
/* ФУТЕР */
footer{
    background: #b32d36;
}
div.reel{
    background-image: url(../img/lenta.png);
    background-repeat-y: no-repeat;
    height: 25px;
}
footer img.popfoot{
    width: 222px;
}
footer p{
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
p.rights{
    font-size: 16px;
}
div.social{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.social-links{
    display: flex;
    justify-content: space-between;
}
a.social-link{
    margin: 0px 8px;
}

a.social-link:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media (max-width: 1366px){

    .container{
        max-width: 1150px;
        margin: 0 auto
    }
    input.input-search {
        width: 84%;
    }
    .container-promo {
        /* max-width: 1150px;
        margin: 0 auto */
    }    
    .social-link img{
        width: 44px;
        height: 44px;
    }
    
}


@media (max-width: 1108px){
    .container{
        max-width: 1043px;
        margin: 0 auto
    }    
    .container-promo {
        max-width: 1043px;
        margin: 0 auto
    }
    .search{
        display: flex;
        width: 100%;
        
    }
    p {
        font-size: 21px;
    }
    .social-link img{
        width: 44px;
        height: 44px;
    }   

}

@media (max-width: 1071px){
    .container{
        max-width: 700px;
        margin: 0 auto
    }

    img.logo{
        width: 143px;
    }
    .container-promo {
        max-width: 700px;
        margin: 0 auto
    }
    ::placeholder {
        height: 30px;
        font-size: 15px;
      }
}

