* {
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
div.page{
    max-width: 1440px;
    margin: 0 auto
}
header{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #b32d36;
    padding: 5px 0px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.container-promo{
    margin: 4% auto;
    padding: 2% 4%;
    display: flex;
    flex-direction: column;
    width: 68%;
    background: #F4F4F4;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}

a.logo {
    display: flex;
}
.search{
    display: flex;
    width: 75%;
    font-size: 19px;
    flex-wrap: wrap;
}
.search-change{
    width: 61%;
}

.search form{
    display: flex;
    width: 100%;
}
input.input-search{
    width: 697px;
    height: 40px;
    border: none;
    background: linear-gradient(180deg, #411a1a 0%, rgba(255, 255, 255, 0.08) 99.97%, #ffbbc0 99.98%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px 0px 0px 9px;
}
input.input-search:hover, input.input-search:focus{
    background: rgba(255, 255, 255, 0.699999988079071);
    background-color: white;
    border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.search ::placeholder {
    height: 37px;
    text-align: left;
    padding-left: 25px;
    color: rgba(255, 255, 255, 0.699999988079071);
  }
 
.button-search{
    width: 58px;
    height: 40px;
    border: none;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 9px 9px 0px;
    background-image: url(../img/glass.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.button-search:hover{
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a.login{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5px 13px;
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 40px;
    text-decoration: none;
    color: black;
}
a.login:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
a.login img {
    margin-right: 4px;
}

/* main */
main{
    background-image: url(../img/background.jpg);
    background-size: cover;
    padding: 3% 0%;
}
.reelh{
    background-image: url(../img/reel.png);
    background-repeat-y: no-repeat;
    height: 70px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
h2{

    font-size: 27px;
    padding: 10px 0px;
    line-height: 177%;
    letter-spacing: -0.01em;
    text-align: center;
    margin: 0; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


p.profile{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    letter-spacing: -0.01em;
    color: #000000;
    margin: 2% 0%;
}
.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
}
a.change, button.change{
    padding: 2% 7%;
    background: #B32D36;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    width: 63%;
    border: none;
    margin-bottom: 4%;
}

button.black{
    background: #3B3A3D;
}

a.change:hover, button.change:hover{
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


div.review{
    display: flex;
    margin: 3% auto;
    padding: 0% 3%;
    padding-top: 2%;
    padding-bottom: 3%;
    flex-direction: column;
    width: 68%;
    background: #F4F4F4;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}

div.film{
    display: flex;
}
ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0% 4%;
}
li{
    font-size: 22px;
    /* padding-bottom: 13%; */
    padding-bottom: 5%;

}
img.film{
    width: 131px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
p.review{
    font-size: 19px;
    line-height: 111.5%;
    text-align: justify;

}

.full-review{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-clamp: 5;
    box-orient: vertical;
}



.buttons-rev{
    display: flex;
    justify-content: space-between
}

button.full, button.del-review{
    background: #B32D36;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding: 1% 4%;
    border: none;
    color: #FFFFFF;
}
button.del-review{
    background: #3B3A3D;
}
button.full:hover, button.del-review:hover, button.add:hover, button.del:hover{
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

form.form-review{
    display: flex;
    width: 44%;
    justify-content: space-between;
}

button.add, button.del{
    background: #B32D36;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding: 1% 12%;
    border: none;
    color: #FFFFFF;
}

button.del{
    background: #3B3A3D;
    padding: 1% 12%;
}


/* окно */
.modal{
    width: 840px;
    height: 316px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F4F4F4;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    display: none;
}

p.mod{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #000000;
    padding-bottom: 3%;
}
div.buttons-mod{
    display: flex;
    width: 80%;
    justify-content: space-around;
}
button.mod{
    width: 186px;
    height: 47px;   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    border: none;
    background: #B32D36;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
button.mod:hover{
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
#no{
    background: #3B3A3D;
}

/* кнопка наверх */
.back_to_top {
    position: fixed;
    bottom: 80px;
    right: 29px;
    z-index: 9999;
    width: 47px;
    height: 44px;
    text-align: center;
    line-height: 34px;
    background: rgb(0 0 0 / 36%);
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: none;
    transition: background-color 0.3s ease 0s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    border-radius: 9px;
    font-size: 37px;
  }
  
  .back_to_top:hover {
    background: #e9ebec;
    color: rgb(0 0 0 / 36%);
  }
  
  .back_to_top-show {
    display: block;
  }
/* кнопка наверх */


/* ФУТЕР */
footer{
    background: #b32d36;
}
div.reel{
    background-image: url(../img/lenta.png);
    background-repeat-y: no-repeat;
    height: 25px;
}
footer img.popfoot{
    width: 222px;
}
footer p{
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
p.rights{
    font-size: 16px;
}
div.social{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.social-links{
    display: flex;
    justify-content: space-between;
}
a.social-link{
    margin: 0px 8px;
}

a.social-link:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media (max-width: 1366px){

    .container{
        max-width: 1150px;
        margin: 0 auto
    }
    input.input-search {
        width: 84%;
    }
    .container-promo {
        /* max-width: 1150px;
        margin: 0 auto */
    }    
    .social-link img{
        width: 44px;
        height: 44px;
    }
    
}


@media (max-width: 1108px){
    .container{
        max-width: 1043px;
        margin: 0 auto
    }    
    .container-promo {
        max-width: 1043px;
        margin: 0 auto
    }
    .search{
        display: flex;
        width: 100%;
        
    }
    p {
        font-size: 21px;
    }
    .social-link img{
        width: 44px;
        height: 44px;
    }   

}

@media (max-width: 1071px){
    .container{
        max-width: 700px;
        margin: 0 auto
    }

    img.logo{
        width: 143px;
    }
    .container-promo {
        max-width: 700px;
        margin: 0 auto
    }
    ::placeholder {
        height: 30px;
        font-size: 15px;
      }
}

