* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
header{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #b32d36;
    padding: 5px 0px;
}
a{
    text-decoration: none;
    color: black;
}
.container, .container-promo{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

a.logo, form{
    display: flex;
}
.search{
    display: flex;
    flex-wrap: wrap;
    width: 61%;
    
}

input.input-search{
    width: 697px;
    height: 40px;
    border: none;
    background: linear-gradient(180deg, #411a1a 0%, rgba(255, 255, 255, 0.08) 99.97%, #ffbbc0 99.98%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px 0px 0px 9px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}
input.input-search:hover, input.input-search:focus{
    background: rgba(255, 255, 255, 0.699999988079071);
    background-color: white;
}


::placeholder {
    height: 37px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    text-align: left;
    padding-left: 1%;
    color: rgba(255, 255, 255, 0.699999988079071);
}

.button-search{
    width: 58px;
    height: 40px;
    border: none;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 9px 9px 0px;
    background-image: url(../img/glass.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

a.login{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5px 13px;
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 40px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
a.login:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
a.login img {
    margin-right: 4px;
}
/* main */
main{
    background-image: url(../img/background.jpg);
    background-size: cover;
}
.container-promo{
    padding-top: 41px;
    padding-bottom: 52px;
    justify-content: center;
}
.promo {
    width: 100%;
    box-shadow: 0px 14px 20px 7px rgba(158, 158, 163, 0.2);
    background: #ffffff url(../img/popcorn.png) no-repeat top 2px right -8px / 504px;
    border-radius: 10px;
    padding: 35px 70px;
}
.promo-title, .promo-text{
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    line-height: 46px;
    color: #302C34;
}
.promo-text{
    max-width: 554px;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}
.films-today{
    background-image: url(../img/reel.png);
    background-repeat: repeat-x;
    height: 70px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
h2{

    font-size: 27px;
    padding: 10px 0px;
    line-height: 177%;
    letter-spacing: -0.01em;
    text-align: center;
    margin: 0; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a.filmframe{
    display: flex;
}


.name-film{
    height: 63px;
    width: 244px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 3px 7px 12px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}
h3{
    height: 63px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    /* or 29px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;

    color: #000000;

}
div.buttons-change{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}
a.change, a.del{
    background: #B32D36;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    color: white;
    padding: 3% 15%;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
a.del{
    background: #3B3A3D;
    padding: 3% 26%;
    margin-top: 5%;
}
a.change:hover, a.del:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
div.film{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    opacity: 1;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
div.film:hover{
    opacity: 0.8;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

}

.film img{
    width: 228px;
    height: 345px;
    filter: drop-shadow(4px 8px 4px rgba(0, 0, 0, 0.25));
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}
.name-film{
    margin-bottom: 16px;
}
.films-one{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 33px 74px;
    width: 100%;
}
footer{
    background: #b32d36;
}
div.reel{
    background-image: url(../img/lenta.png);
    background-repeat: repeat-x;
    height: 25px;
}
footer img.popfoot{
    width: 222px;
}
p{
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
}
p.rights{
    font-size: 16px;
}
div.social{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.social-links{
    display: flex;
    justify-content: space-between;
}
a.social-link{
    margin: 0px 8px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a.social-link:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/* кнопка наверх */
.back_to_top {
    position: fixed;
    bottom: 80px;
    right: 29px;
    z-index: 9999;
    width: 47px;
    height: 44px;
    text-align: center;
    line-height: 34px;
    background: rgb(0 0 0 / 36%);
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: none;
    transition: background-color 0.3s ease 0s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    border-radius: 9px;
    font-size: 37px;
}

.back_to_top:hover {
    background: #e9ebec;
    color: rgb(0 0 0 / 36%);
}

.back_to_top-show {
    display: block;
}
/* кнопка наверх */

@media (max-width: 1366px){

    .container{
        max-width: 1150px;
        margin: 0 auto
    }
    a.login {
        padding: 3px 10px;
    }
    input.input-search {
        width: 643px;
    }
    .container-promo {
        max-width: 1150px;
        margin: 0 auto
    }
    .promo-title{
        font-size: 33px;
        line-height: 43px;
    }
    .promo-text {
        max-width: 519px;
        font-size: 20px;
    }
    .promo {
        background: #ffffff url(../img/popcorn.png) no-repeat top 7px right 10px / 458px;
    }
    .films-one {
        grid-gap: 37px 58px;
        margin: 0 auto;
    }
    p {
        font-size: 21px;
    }
    .social-link img{
        width: 44px;
        height: 44px;
    }
    
}

@media (max-width: 1108px){
    .container{
        max-width: 1043px;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
    }
    .search{
        display: flex;
        width: 70%;
        margin: 1% 0%;
    }   
    .container-promo {
        max-width: 1043px;
        margin: 0 auto
    }
    .promo-title{
        font-size: 33px;
        line-height: 43px;
    }
    .promo-text {
        max-width: 519px;
        font-size: 20px;
    }

    .promo {
        background: #ffffff url(../img/popcorn.png) no-repeat top 7px right 10px / 458px;
    }
    .films-one {
        grid-gap: 37px 155px;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
    }
    p {
        font-size: 21px;
    }
    .social-link img{
        width: 44px;
        height: 44px;
    }   

}

@media (max-width: 1071px){
    .container{
        max-width: 700px;
        margin: 0 auto
    }

    img.logo{
        width: 143px;
    }
    .container-promo {
        max-width: 700px;
        margin: 0 auto
    }
    .promo-title{
        font-size: 22px;
        line-height: 43px;
    }
    .promo-text {
        max-width: 359px;
        font-size: 15px;
    }
    .promo {
        background: #ffffff url(../img/popcorn.png) no-repeat top 52px right 17px / 286px;
        padding: 21px 46px;
    }
    .films-one {
        grid-gap: 41px 159px;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
    }
    ::placeholder {
        height: 30px;
        font-size: 15px;
    }
    a.login{
        font-size: 15px;
    }
}

@media (max-width: 740px){
    .films-one {
        grid-gap: 37px 155px;
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
}